<template>
  <div class="container">
    <search class="text--right" @search-submitted="onSearchSubmit" :cust-placeholder="ph" />
    <h1 class="text--left">
      <slot name="title"></slot>
    </h1>
    <slot name="content"></slot>
  </div>
</template>

<script>
import Search from "./Search";

export default {
  props: {
    ph: {
      type: String,
      default: "Name"
    }
  },
  data() {
    return {};
  },
  components: { Search },
  methods: {
    onSearchSubmit(params) {
      this.$emit("search-submitted", params);
    }
  }
};
</script>

<style>
</style>