<template>
  <div class="container">
    <div class="pokemon__detail" :class="{'pokemon__detail--loading' : isLoading}">
      <img class="loader" v-if="isLoading" src="\src\assets\images\loader.gif" alt />

      <template v-else>
        <div class="pokemon__detail__main">
          <img :src="pokemon.sprites.front_default" alt />
          <div class="pokemon__detail__main__descs">
            <div class="pokemon__detail__main__desc">
              <div class="pokemon__detail__main__desc__key">National Number</div>
              <div class="pokemon__detail__main__desc__value">{{ pokemon.id}}</div>
            </div>
            <div class="pokemon__detail__main__desc">
              <div class="pokemon__detail__main__desc__key">Name</div>
              <div class="pokemon__detail__main__desc__value">{{ pokemon.name}}</div>
            </div>
            <div class="pokemon__detail__main__desc">
              <div class="pokemon__detail__main__desc__key">Type</div>
              <div
                class="pokemon__detail__main__desc__value pokemon__detail__main__desc__value--type"
              >
                <span
                  class="pokemon__detail__main__desc"
                  v-for="(type,idx) in pokemon.types"
                  :key="idx"
                >{{ type.type.name }}</span>
              </div>
            </div>
            <div class="pokemon__detail__main__desc">
              <div class="pokemon__detail__main__desc__key">height</div>
              <div class="pokemon__detail__main__desc__value">{{ pokemon.height}}</div>
            </div>
            <div class="pokemon__detail__main__desc">
              <div class="pokemon__detail__main__desc__key">weight</div>
              <div class="pokemon__detail__main__desc__value">{{ pokemon.weight}}</div>
            </div>
            <div class="pokemon__detail__main__desc">
              <div class="pokemon__detail__main__desc__key">Abilities</div>
              <div
                class="pokemon__detail__main__desc__value pokemon__detail__main__desc__value--ability"
              >
                <span
                  v-for="(ability,idx) in pokemon.abilities"
                  :key="idx"
                >{{ ability.ability.name + ' ' + (ability.ability.is_hidden ? '(hidden)' :'')}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="pokemon__detail__stats">
          <div class="pokemon__detail__stat" v-for="(stat,idx) in pokemon.stats" :key="idx">
            <div class="pokemon__detail__detail__stat__key">{{ stat.stat.name }}</div>
            <div class="pokemon__detail__detail__stat__value">{{ stat.base_stat }}</div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLoading: false,
      item: this.$route.params.item,
      pokemon: {}
    };
  },
  mounted() {
    this.isLoading = true;
    this.$ajax.get(this.item.url, this.ajaxConfig).then(result => {
      this.pokemon = result.data;
      this.isLoading = false;
    });
  }
};
</script>

<style>
</style>