<template>
  <layout :ph="placeholder" @search-submitted="searchPokemon">
    <template slot="title">Pokemon List</template>
    <template slot="content">
      <div class="pokemon__list">
        <!-- @click="openDetail(item)" -->
        <router-link
          :to="{name: 'PokemonDetailRouter', params: {name: item.name, item: item}}"
          class="pokemon__list__item"
          v-for="(item,idx) in filteredPokemon"
          :key="idx"
        >
          <img src="\src\assets\images\loader-smaller.gif" class="loader" v-if="item.isLoading" />
          <img :src="item.image" alt v-else class="pokemon__list__item__image" />
          <span class="pokemon__list__item__name">{{ item.name }}</span>
        </router-link>
      </div>
      <img class="loader" v-if="isLoading" src="\src\assets\images\loader.gif" alt />
    </template>
  </layout>
</template>

<script>
import Layout from "./Layout";

export default {
  name: "PokemonList",
  components: { Layout },
  data() {
    return {
      pokemonLength: 0,
      nextLink: null,
      placeholder: "Pokemon Name",
      ajaxConfig: {
        useCredentails: true
      },
      pokemonList: [],
      isLoading: false,
      q: null
    };
  },
  mounted() {
    this.fetchData("https://pokeapi.co/api/v2/pokemon/?limit=50");
    this.scroll();
  },
  methods: {
    fetchData(url) {
      this.isLoading = true;
      this.$ajax
        .get(url, this.ajaxConfig)
        .then(result => {
          this.setPokemonList(result.data.results);
          this.pokemonLength = result.data.count;
          this.nextLink = result.data.next;
        })
        .catch(() => {
          alert("Sorry we encounter error");
        });
    },
    setPokemonList(list) {
      if (!list) {
        return;
      }

      setTimeout(() => {
        list.forEach(rawItem => {
          let item = {};

          item.name = rawItem.name;
          item.url = rawItem.url;
          item.isLoading = true;

          this.$nextTick(() => {
            this.$ajax.get(rawItem.url, this.ajaxConfig).then(result => {
              this.$set(item, "image", result.data.sprites.front_default);
              item.id = result.data.id;

              item.isLoading = false;
            });
          });

          this.pokemonList.push(item);
        });
      }, 1000);
      this.isLoading = false;
    },
    loadMorePokemon() {
      this.fetchData(this.nextLink);
    },
    scroll() {
      window.onscroll = () => {
        let isBottom =
          document.documentElement.scrollTop + window.innerHeight ===
          document.documentElement.offsetHeight;

        if (isBottom) {
          this.loadMorePokemon();
        }
      };
    },
    openDetail(item) {
      console.log(this.$router.params);
      this.$router.push({
        path: `/pokemon/detail`
      });
    },
    searchPokemon(params) {
      this.q = params.q;
    }
  },
  computed: {
    filteredPokemon() {
      if (this.q) {
        let filter = new RegExp(this.q, "i");
        return this.pokemonList.filter(poke => poke.name.match(filter));
      }

      return this.pokemonList;
    }
  }
};
</script>

<style>
</style>