<template>
  <div class="search__bar">
    <input
      type="text"
      class="input"
      :class="{'input--error' : error.q}"
      v-model.lazy="q"
      :placeholder="custPlaceholder"
      name="name"
      @change="inputChange"
    />
    <button class="button button--cta-invert" @click.prevent="searchMovie">
      <i class="fa fa-search" />
    </button>
  </div>
</template>

<script>
export default {
  props: {
    custPlaceholder: {
      type: String,
      default: "Name"
    }
  },
  data() {
    return {
      q: null,
      error: {
        q: null
      }
    };
  },
  methods: {
    searchMovie() {
      let params = {};
      if (this.q) {
        params.q = this.q;
      }

      this.$emit("search-submitted", params);
    },
    inputChange() {
      this.$emit("input-changed", params);
    }
  },
  mounted() {
    window.addEventListener("keyup", event => {
      if (event.keyCode === 13) {
        this.searchMovie();
      }
    });
  }
};
</script>

<style>
</style>