.pokemon__list {
    display: flex;
    flex-flow: row wrap;

    .loader{
        height: 95px;
        width: 95px;
    }
}
.pokemon__list__item {
    display: flex;
    flex-direction: column;
    height: 115px;
    width: 100pX;
    margin: $gutter;
    &:hover{
        background-color: $red--light-5;
        cursor: pointer;
    }
}

.pokemon__list__item__name{
    text-transform: capitalize;
}