.pokemon__detail__main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon__detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15%;
    width: 60%;
    padding: $gutter--xl;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffcccc;
    &--loading{
        background-color: white;
    }
}

.pokemon__detail__detail__stat__key,
.pokemon__detail__main__desc__key {
    text-align: right;
    padding-right: 10px;
    color: #737373;
    font-size: $font--xs;
    text-transform: capitalize;
}

.pokemon__detail__stat,
.pokemon__detail__main__desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.pokemon__detail__detail__stat__value,
.pokemon__detail__main__desc__value {
    text-align: left;
    text-transform: capitalize;
}

.pokemon__detail__main__desc__value {
    &--ability,
    &--type{
        display: flex;
        flex-direction: column;
    }
}