<template>
  <div id="app">
    <header>
      <div class="header">
        <router-link to="/">
          <img class="nav__bar__logo" src="\src\assets\images\logo_transparent.png" />
        </router-link>
        <div class="nav__bar__menu">
          <router-link class="nav__bar__menu__item link" to="/pokemon">Pokemon</router-link>
          <!-- <router-link class="nav__bar__menu__item link" to="/berry">Berries</router-link>
          <router-link class="nav__bar__menu__item link" to="/move">Move</router-link>
          <router-link class="nav__bar__menu__item link" to="/evolution">Evolution</router-link>-->
        </div>
      </div>
    </header>
    <div class="content__container">
      <keep-alive include="PokemonList">
        <router-view class="view"></router-view>
      </keep-alive>
    </div>
    <footer></footer>
  </div>
</template>

<style lang="scss">
@import "assets/sass/index.scss";
#app {
  font-family: "Calibri", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}
</style>
