$mobile : 320px;
$tablet : 600px;
$desktop : 980px;
$widescreen : 1201px;

@mixin break($point) {
    @if $point == desktop {
        @media screen and (max-width: $widescreen - 1px){
            @content;
        }
    }
    @else if $point == tablet{
        @media screen and (max-width: $desktop - 1px) {
                @content;

        }
    }
    @else if $point == mobile{
        @media screen and (max-width: $mobile - 1px) {
                @content;

        }
    }
    @else if $point == desktop-only{
        @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
                @content;

        }
    }
    @else if $point == tablet-only{
        @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
                @content;

        }
    }
    @else if $point ==  desktop-up{
        @media screen and (min-width: $desktop) {
                @content;

        }
    }
    @else if $point == tablet-up{
        @media screen and (min-width: $tablet) {
                @content;

        }
    }
    
}