.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.button{
    border-radius: 3px;
    margin: 0 $gutter--sm;
    cursor: pointer;
    padding: $gutter--sm $gutter--xl;
    border: 1px solid $red--dark-20;
    &--cta{
        background: $red;
        color: white;        
        &-invert{
            background: white;
            color: $red;
            &:hover{
                background: $red;
                color: white;
            }
        }
    }
        
}
    
.input{
    margin: 0 $gutter--sm;
    padding: $gutter--sm;
    border: 0;
    border-radius: 3px;
    border-bottom: 1px solid gray;
    position: relative;
}
    
.content__container {
    padding-top: 80px;
}    

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

.nav__bar__logo {
    width: 130px;
}

.link {
    cursor: pointer;
    color: $red--dark-80;
    padding: $gutter--sm $gutter;
    text-decoration: none;
    &:hover {
        color: $red--light-80;
    }
}

.loader{
    height: 50px;
    width: 50px;
}

.home__welcome__logo{
    margin-top: 150px;
    width: 30%;
}