$font-weight-medium : 500;

$font--xxs : 13px;
$font--xs : 14px;
$font--sm : 15px;
$font : 16px;
$font--lg : 18px;
$font--xl : 20px;
$font--xxl : 24px;

$gutter--xs : 3px;
$gutter--sm : 5px;
$gutter : 10px;
$gutter--lg : 15px;
$gutter--xl : 20px;
$gutter--xxl : 30px;

$red--dark-80 : #330000;
$red--dark-40 : #660000;
$red--dark-20 : #990000;
$red--dark-5 : #cc0000;
$red : #ff0000;
$red--light-80 : #ff3333;
$red--light-40 : #ff6666;
$red--light-20 : #ff9999;
$red--light-5 : #ffcccc;





